.button
{
    display: inline;
    background-color: #f7f7f7;
    color: #2a4bd8;
    border-radius: 25px;
    padding: 8px;
    text-align: center;
    margin-right: 25px;
}
.button:hover 
{
    background-color: #2a4bd8;
    color: #ffffff;
}